<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Websocket web car</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<style>
.boxy {
	height: 90px;
}
</style>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script{"command" : "write", "signals" : {"SteeringAngleSign": 1.0}}
src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script
src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body onload="main()">
<div id="app">
<div class="container">

<h4>Car</h4>
<div class="panel panel-default"><div class="panel-body row">

<!-- Connection -->
<div class="col-md-6 col-sm-12">
<label for="ws_addr">Websocket address</label>
<div class="input-group">
<input v-model="ws.uri" id="ws_addr" type="text" autofocus/>
<button v-on:click="btn_connect" :disabled="ws.alive" class="btn btn-primary">Connect</button>
<button v-on:click="btn_disconnect" :disabled="!ws.alive" class="btn btn">Disconnect</button>
</div>
</div>

<!-- Manual message -->
<div class="col-md-6 col-sm-12">
<label for="ws_sendRaw">Send command</label>
<div class="input-group">
<input v-model="ws.sendRaw" :disabled="!ws.alive" id="ws_sendRaw" type="text"/>
<button v-on:click="btn_sendRaw" :disabled="!ws.alive" class="btn btn-primary">Send</button>
</div>
</div>

<!-- Options -->
<div class="col-md-6 col-sm-12">
<div class="checkbox"><label>
<input v-model="ws.autoSub" id="ws_autoSub" type="checkbox"/>
Automatic subscription
</label></div>
</div>

<!-- Manual commands -->
<div class="col-md-6 col-sm-12">
<div class="input-group">
<button v-on:click="btn_default_subscriptions" :disabled="!ws.alive" class="btn">Default sub</button>
</div>
</div>

<div class="col-md-6 col-sm-12">
	<div class="input-group">
		<label for="ws_addr">Trigger signal</label>
		<input v-model="ws.signal" id="ws_trigger" type="text" autofocus/>
		<label for="ws_addr">condition</label>
		<input v-model="ws.condition" id="ws_condition" type="text" autofocus/>
		<label for="ws_addr">write command</label>
		<input v-model="ws.command" id="ws_writecmd" type="text" autofocus/>
		<button v-on:click="btn_activate" :disabled="ws.condition_on" class="btn btn-primary">Activate action</button>
		<button v-on:click="btn_deactivate" :disabled="!ws.condition_on" class="btn btn">Deactivate</button>
	</div>
</div>


</div></div>


<hr/>

<div class="row">
<div v-for="(info, name) in channels" class="col-lg-4 col-md-6 col-sm-12">
<div class="panel panel-default">
<div class="panel-heading" v-text="name"></div>

<div class="panel-body boxy">
<panel-progress v-if="info.panel == 'progress'"	v-bind:info="info" v-bind:name="name"></panel-progress>
<panel-bitmask v-if="info.panel == 'bitmask'"	v-bind:info="info" v-bind:name="name"></panel-bitmask>
</div>
</div></div>

</div> <!-- row -->

</div>

</div>
</body>

<script src="js/vue.js"></script>
<script src="js/web_car.js"></script>

<script type="text/x-template" id="panel-progress">
<div>
<div class="progress">
<div class="progress-bar" v-bind:style="{width: calcProgress(info) + '%'}">
</div>
</div>
<p>Value {{ (info.value).toFixed(2) }}</p>
</div>
</script>

<script type="text/x-template" id="panel-bitmask">
<div>
<p>
<span v-for="n in info.arg[0]" class="label label-danger" :style="{ background: maskColor(info.value, n-1) }">{{n}}</span>
</p>
<p v-text="info.value"></p>
</div>
</script>

</html>
